.map-popup h4 {
  margin-bottom: 5px;
  color: var(--primary);
}

.popup-rating {
  color: #FFB800;
  font-size: 12px;
  margin-bottom: 5px;
}

.popup-rating span {
  color: var(--text);
  margin-left: 5px;
}

.map-popup p {
  font-size: 12px;
  color: var(--text-light);
  margin-bottom: 8px;
}

.map-popup a {
  font-size: 12px;
  font-weight: 500;
}
